@media screen and (max-width: 875px) {

    body {
        margin: 0;
        padding: 0;
    }
}
.caption-text {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.caption {
    margin-bottom: 0;
}

div.highlight { 
    font-size: 14px;
}
.main-content dl.py.class {
    margin-bottom:2rem;
}
.main-content dl.py.method {
    margin-bottom:1rem;
}
.main-content dl.py.class>dt {
    background: #EFEFEF;
    border-left: 2px solid #666;
    padding-left: 1rem;
}

.main-content dl.py.method>dt {
    background: #EFEFEF;
    border-left: 2px solid #666;
    padding-left: 1rem;
}

.main-content dt{
    border-left: black;
}
