// As RGBa codes */

$rgba-primary-0: rgba( 40, 84,108,1);	// Main Primary color */
$rgba-primary-1: rgba( 45, 58, 65,1);
$rgba-primary-2: rgba( 46, 72, 87,1);
$rgba-primary-3: rgba( 27, 94,129,1);
$rgba-primary-4: rgba(  8,101,151,1);

$link-color: $rgba-primary-4;
//$body-heading-color: $rgba-primary-1;
//$body-text-color: $rgba-primary-2;
