@media screen and (max-width: 875px) {

    body {
        margin: 0;
        padding: 0;
    }
}
.caption-text {
      @if $nav-list-expander-right {
        padding-right: $nav-list-item-height-sm;
        padding-left: #{$gutter-spacing-sm};
      } @else {
        padding-right: $gutter-spacing-sm;
        padding-left: #{$nav-list-item-height-sm};
      }

      @include mq(md) {
        min-height: $nav-list-item-height;
        line-height: #{$nav-list-item-height - 2 * $sp-1};
        @if $nav-list-expander-right {
          padding-right: $nav-list-item-height;
          padding-left: $gutter-spacing;
        } @else {
          padding-right: $gutter-spacing;
          padding-left: $nav-list-item-height;
        }
      }
    //padding-left: 2rem;
    //padding-right: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight:800;
}
.caption {
    margin-bottom: 0;
}

div.highlight { 
    font-size: 14px;
}
.main-content dl.py.class {
    margin-bottom:2rem;
}
.main-content dl.py.method {
    margin-bottom:1rem;
}
.main-content dl.py.class>dt {
    background: #EFEFEF;
    border-left: 2px solid #666;
    padding-left: 1rem;
}

.main-content dl.py.method>dt {
    background: #EFEFEF;
    border-left: 2px solid #666;
    padding-left: 1rem;
}

.main-content dt{
    border-left: black;
}

a.current {
  font-weight: 600;
        background-image: linear-gradient(
          -90deg,
          rgba($feedback-color, 1) 0%,
          rgba($feedback-color, 0.8) 80%,
          rgba($feedback-color, 0) 100%
        );
        border-bottom: none;
}
